* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: hsl(206, 47%, 93%);
    font-family: 'Karla', sans-serif;
}

.card {
    display: grid;
    width: 640px;
    height: 540px;
    grid-template-columns: 320px 320px;
    grid-template-rows: 250px 290px;
    margin: auto;
    margin-top: 10%;
}

.top {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 0 0;
}

.top-box{
    text-align: left;
}

.join {
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    padding: 30px;
}

.guarantee {
    font-size: 19px;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    padding: 0 10px 30px 30px;
}

.top-text {
    font-weight: 400;
    padding: 0 30px 10px;
    color: hsl(218, 22%, 67%);
}

.left {
    border-radius: 0 0 0 10px;
    background-color: hsl(179, 62%, 43%);
}

.subscription {
    font-size: 19px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding: 40px;
}

.promo {
    display: flex;
    
}

.price {
    font-size: 40px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding: 0 10px 0 40px;
}

.month {
    font-size: 17px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    padding: 12px 0 0 0;
    opacity: 0.7;
}

.access {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    padding: 0 0 0 40px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin: 30px 0 30px 0px;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.375);
    cursor: pointer;
}

.right {
    background-color: hsl(179, 47%, 52%);
    border-radius: 0 0 10px 0;
    color: hsl(0, 0%, 100%);
    
}

.right h3 {
        font-size: 19px;
        font-weight: 700;
        padding: 40px 0 20px 40px;
}

.right p {
    font-size: 14px;
    font-weight: 400;
    padding: 3px;
    margin: 0 0 0 38px;
}

footer {    
    text-align: center;
    margin: auto;
    padding: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {    
    .card {
        display: grid;
        width: 340px;
        height: 900px;
        grid-template-columns: 340px;
        grid-template-rows: 320px 290px 290px;
        margin: auto;
        margin-top: 10%;
    }
    .top {
        grid-column-start: 1;
        grid-column-end: 1;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px 10px 0 0;
    }
    .left {
        border-radius: 0;
    }
    .right {
        border-radius: 0 0 10px 10px;
    }
    .guarantee {
        padding: 0 10px 15px 30px;
    }
    .top-text {
        padding: 0 30px 2px;
    }
}